<!-- confirmationReservation.html -->
{% extends "base.html" %}

{% block title %}Confirmation de réservation - Serre-toi{% endblock %}

{% block content %}
<br>
<p>Réservation confirmée!</p><br>
<p>L'activité {{ activite }} a été reservé par {{ courriel }} pour l'horaire:</p>
<ul>
    <i>Semaine : {{ semaine }}</i>
    <i>Jour : {{ jour }}</i>
    <i>Heure : {{ heure }}</i>
</ul>
<br>
<p>Vous pouvez consulter votre reservation sur la page <a href="{{ url_for('activites') }}">Activités</a></p>    

{% endblock %}