<!-- accueil.html -->
{% extends "base.html" %}

{% block title %}Accueil - Serre-toi{% endblock %}

{% block content %}
    <h1>ACCUEIL</h1>
    <h2>Bienvenue sur le site de Serre-toi!</h2>
    <p>Serre-toi est un projet qui vise à répondre au besoin collectif d'innovation et de développement durable à Polytechnique Montréal.</p>
    <h2>L'agriculture urbaine t'intéresse? Tu rêves de développer des compétences en hydroponie? Deviens membre et prends part au projet!</h2>
    <p>En devenant membre de Serre-Toi, il est possible de participer activement au projet Poly-Verti.</p>
{% endblock %}
