<!-- modalites.html -->
{% extends "base.html" %}

{% block title %}Modalités d'adhésion - Serre-toi{% endblock %}

{% block content %}
    <h1>MODALITÉS D'ADHÉSION</h1>
    <h2>Les conditions pour devenir membre de Serre-toi</h2>
    <p>Devenir membre de Serre-toi vous permet de participer activement au projet Poly-Verti. Voici les modalités :</p>

    <h3>Conditions :</h3>
    <ol>
        <li>Toute personne associée à Polytechnique Montréal peut devenir membre.</li>
        <li>Toute personne désirant devenir membre doit s'inscrire avec son adresse courriel de Polytechnique Montréal.</li>
        <li>Les membres actifs doivent participer 2h par mois à l'entretien.</li>
        <li>Les membres doivent suivre une formation avant de s'enregistrer à toute autre activité.</li>
    </ol>

    <h3>Privilèges :</h3>
    <p>Les membres actifs auront droit à une part des récoltes, sur une base bi-hebdomadaire.</p>

    <h3>Rejoindre le projet :</h3>
    <p>Pour devenir membre et prendre part au projet, il est essentiel de s'inscrire à la formation et de respecter les conditions ci-dessus. Une fois membre, vous pourrez participer aux diverses activités et récoltes du projet.</p>
{% endblock %}
